@import './../../style/variables.scss';

.singleCharacterPage {
    padding: 50px 30px;
    box-sizing: border-box;
}

.returnButton {
    background-color: $accent-color;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 12px;
    border: none;
    border-radius: 10px;
}

.image {
    width: 20%;
}