@import './../../style/variables.scss';

.mainPage {
    padding: 50px 30px;
}

.filterButton {
    cursor: pointer;
    background-image: url("../../icons/filter.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: $accent-color;
    font-size: 18px;
    padding: 7px 12px;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    margin: 0 0 30px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}